## MODULE 4 COLLECTIONS

1.LIST

2.TUPLES

3.DICTNORIES

## LIST Examples

In [2]:
DTCC_SYSID_LIST = ['rds','itp','sfk','dwc']

In [3]:
print (DTCC_SYSID_LIST)

['rds', 'itp', 'sfk', 'dwc']

In [4]:
DTCC_SYSID_LIST [:]

['rds', 'itp', 'sfk', 'dwc']

In [5]:
DTCC_SYSID_LIST [1:3]

['itp', 'sfk']

In [6]:
DTCC_SYSID_LIST [-1]

'dwc'

In [7]:
DTCC_SYSID_LIST [2:3]

['sfk']

In [11]:
DTCC_SYSID_LIST [10:17]

[]

# LIST DEL

In [16]:
DTCC_SYSID_LIST = ['rds','itp','sfk','dwc']
print (DTCC_SYSID_LIST)

['rds', 'itp', 'sfk', 'dwc']

In [17]:
del DTCC_SYSID_LIST[2]

In [18]:
print (DTCC_SYSID_LIST)

['rds', 'itp', 'dwc']

In [19]:
del DTCC_SYSID_LIST
print (DTCC_SYSID_LIST)

NameError: name 'DTCC_SYSID_LIST' is not defined

## ADD LIST

In [20]:
arsenal = ['Henry','Persie']

In [21]:
print (arsenal)

['Henry', 'Persie']

In [22]:
arsenal.append('wenger')

In [23]:
print (arsenal)

['Henry', 'Persie', 'wenger']

In [28]:
arsenal.insert(7, 'mi')
print (arsenal)

['Henry', 'Persie', 'wenger', 'mike', 'mike', 'mi']

## LIST ITERATIONS

In [33]:
# Shan expendinture Program
shan_exp = [1,4,5,190]
sum = 0
for exp in shan_exp:
    sum += exp
print ('Total_Exp:', sum)

Total_Exp: 200

## CODING EXCERCISE

Helping with the Budget
John has a hard time keeping his budget. Write a program to help him analyse his spendings. You are given a list with John's spendings for each month. Go through the list, and count the number of times...

a. the spendings were low (< 1000.0)
b. the spendings were normal (between 1000.0 and 2500.0 inclusive)
c. the spendings were high (> 2500.0)

Then, print the following to the output:

Numbers of months with low spendings: {}, normal spendings: {}, high spendings: {}.

spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

In [39]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
 
low = 0
normal = 0
high = 0
 
for month in spendings:
    if month < 1000.0:
        low += 1
    elif month <= 2500.0:
        normal += 1
    else:
        high += 1
 
print('Numbers of months with low spendings: ' + str(low) + ', normal spendings: ' + str(normal) + ', high spendings: ' + str(high) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

In [42]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
 
low = 0
normal = 0
high = 0
 
for month in spendings:
    if month < 1000.0:
        low += 1
    elif month <= 2500.0:
        normal += 1
    else:
        high += 1
 
print('Numbers of months with low spendings: ' + str(low) + ', normal spendings: ' + str(normal) + ', high spendings: ' + str(high) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

# Element Swap

In [2]:
a = input('Enter a number')
b = input ('Enter b number')
print ('Before swap :', a, b)
a, b = b, a
print ('After Swap :', a, b)

Before swap : 10 20
After Swap : 20 10

# Copying list

In [14]:
#String example
aa = 'john'
b = aa
aa = 'shan'
print (aa, b)

shan john

In [ ]:
#List Example
name = ['ars','che','Manu']
club = name [:]
name[0] = 'barc'
print (club, name)

['ars', 'che', 'Manu'] ['barc', 'che', 'Manu']

In [24]:
# List Comphrseion

num = [i for i in range (1, 101) if i % 2 == 0]
print (num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

## Nested Lists

In [28]:
tab = [['a1','a2','a3'], ['b1','b2','b3']]
print (tab)

[['a1', 'a2', 'a3'], ['b1', 'b2', 'b3']]

In [31]:
tab = [['a1','a2','a3'], ['b1','b2','b3']]
print (tab[0][2])

a3

In [42]:
tab = [[i for i in range (1, 4)] for j in range (2)]
print (tab, '', end='')

[[1, 2, 3], [1, 2, 3]]