# This File Contains Demo of PCEP Exams in Snowflake

# Section 2 Module 1 : Basic Concepts

In [ ]:
#printing first word 

print ('Shan is the Best Data Scientist and Humble Person');

In [ ]:
# one line chracter ,Two line and Separate line

print ('Shan is Associate Director')
print ('Shan is AD and i\'m best in the world')
print ('Shan new are awesome \nBest Data Science Director')

# Variables

In [ ]:
shan = 'Hello Shan I\'M a Data Scientist I am Awesome'
print (shan)

# Data Types

In [ ]:
#Integer 

Name = 'shan'
age = 34 
DOB = 28.08b
Nature_Fair = True

print (Name,age)

# Numerical Presentations

In [ ]:
12_0000_333

3e4

# Integers

In [ ]:
#Add and Sub 

2 + 3 

2 + 5.0

3- 7.0

3-7

# Standard Division

8 / 4 

# integer 

8 // 4

13 // 2

# Modulo 

14 % 2

14 % 3 

1000 % 3 

90 % 9

90 % 8 

9 % 100 

100 % 9 

8 % 2.0

8.0 % 4

4 % 8.0 

# Power 

2 ** 6 

(0.10) ** 364

# Variables Practice

Variables and Operators
In a fictional country named Lowtaxland, the income tax is 5%. In another fictional country, Ripoffland, the income tax is 43%. You are given a sample variable named income with the value of 250,000.

1. Create two additional variables: lowtaxland_rate with the value of 0.05 (which is the same as 5%) and ripoffland_rate with the value of 0.43 (which is the same as 43%).

2. Print to the output the following (all output on a single line):

Your income is {income} and you would pay {tax amount in Lowtaxland} income tax in Lowtaxland or {tax amount in Ripoffland} income tax in Ripoffland. You would save {difference between the tax amounts} by paying taxes in Lowtaxland!

Your solution must replace the curly brackets (e.g. {income}) with the actual values (e.g. 250000). The values must be calculated correctly. The tax amount should be calculated as {income * lowtaxland_rate} for Lowtaxland, and {income * ripoffland_rate} for Ripoffland, respectively.

In [ ]:
# Solutions

income = 250_000
lowtaxland_rate = 0.05
ripoffland_rate= 0.43 

print ('Your income is',income, 'and you would pay',income * lowtaxland_rate,'income tax in Lowtaxland or',income * ripoffland_rate,
       'income tax in Ripoffland. You would save',
    income * ripoffland_rate - income * lowtaxland_rate,'by paying taxes in Lowtaxland!')

# Reassign Values

In [ ]:
name = 'Shan'
age = 28
print (name , age+5 ) 

age = 29
age += 4 
print (name ,age)


age = 40 
age -= 7
print (age)

ag = '2'
age = '3'
print (ag , 'age')

In [ ]:
x = 11
y = 4
x = x % y
x = x % y
y = y % x
print (x,y)